<div class="fontQS main-banner d-flex justify-content-center">
<div class="card mt-10 transparent ml-5" style="max-width: 22rem; max-height: 22rem;">
  <div class="card-header d-flex justify-content-center flex-wrap text-c-welcome"><h1>STAY AWAY </h1>
    <i class="mt-2 fas fa-5x fa-radiation"></i>
  </div>
    <%= link_to 'Im a bolota, login', new_user_session_path, class: "btn m-4 mx-4 mt-2 text-c-welcome button-b-welcome" %>
    <%= link_to 'Im not a bolota, register', new_user_registration_path, class: "btn mx-4 mb-4 mt-2  text-c-welcome button-b-welcome" %>
</div>
</div>