/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Finger+Paint&display=swap');

.fontQS {
   font-family: 'Finger Paint', cursive;
}

.logon-banner{
   background: url('logon.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}

.text-c-logon {
   color: #FEF8DE !important   ;
}

.pt-10 {
   padding-top: 10%;
}

.mt-10 {
   margin-top: 10%;
}