// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-banner{
    background: url('bannerwelcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.pt-10 {
    padding-top: 10%;
}

.mt-10 {
    margin-top: 10%;
}

.transparent {
    background: rgba(255, 255, 255, 0) !important;
}

.text-c-welcome {
    color: #342A2E !important   ;
}

.button-b-welcome {
    border: 1px solid rgba(52, 42, 46, 0.25) !important;
}

a:hover {
    background-color: rgba(52, 42, 46, 0.1) !important;
}